.banner{
  padding: 5rem 0rem;
  text-align: left;
  background-image: linear-gradient(80deg, #00a3a2 0, transparent 80%), url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.banner__titulo{
  color: var(--branco);
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-bottom: .5rem;
}

.banner__texto{
  font-size: 1rem;
  line-height: 1.3rem;
  color: white;
}
.banner__titulo,
.banner__texto{
  margin-left: 10px;
}


/* tablet */
@media (min-width: 768px){
  .banner{
    background-color: var(--backgound);
    padding: 4rem 0 4rem 0;
  }
  .banner__titulo,
  .banner__texto{
    color: var(--branco);
  }


  .banner__titulo{
    font-size: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem;
}


.banner__texto{
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0 1.5rem;
  
}
}

@media (min-width: 1024px){
  
  .banner{
    background-image: linear-gradient(80deg, #00a3a2 0, transparent 40%), url(../image/background.jpg);
    margin-top: none;
    padding: 8rem;
  }
  
  .banner__titulo,
  .banner__texto{
    color: var(--branco);
    text-align: left;
  }
  .banner__titulo{
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
  }
  .banner__texto{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
}