.banner{
  
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 1rem;
}

.banner__titulo{
  color: var(--font-titulos);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin-bottom: .5rem;
}

.banner__texto{
  font-size: .8rem;
  line-height: 1rem;
}

/* tablet */
@media (max-width: 768px){
  .banner{
    background-color: var(--backgound);
    padding: 4rem 0 4rem 0;
  }
  .banner__titulo,
  .banner__texto{
    color: var(--branco);
  }
}

@media (min-width: 1024px){
  .banner{
    margin-top: .5rem;
    background-color: var(--backgound);
    padding: 10rem;
    background-image: url(/assets/image/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; 


  }
  .banner__titulo,
  .banner__texto{
    color: var(--branco);
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}