.banner{
  
  padding: 5rem 2rem;
  text-align: center;

}

.banner__titulo{
  color: var(--font-titulos);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin-bottom: .5rem;
  color: wi;
}

.banner__texto{
  font-size: .8rem;
  line-height: 1rem;
}

/* tablet */
@media (min-width: 768px){
  .banner{
    background-color: var(--backgound);
    padding: 4rem 0 4rem 0;
  }
  .banner__titulo,
  .banner__texto{
    color: var(--branco);
  }
}

@media (min-width: 1024px){
  
  .banner{
    display: flex;
    flex-direction: column;
    
    margin-top: none;
    background-color: #e0ebf1;
    padding: 10rem;
    background-image: url(/assets/image/background-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
 
  .banner__titulo,
  .banner__texto{
    color: var(--branco);
    text-align: left;
  }
  .banner__titulo{
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    color: aqua;
  }
  .banner__texto{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
}