:root {
--branco: rgb(255, 255, 255);
--bg-rodape: #ebebeb;
--emergencia: #ED1C24;
--backgound: #00a3a2;
--fonte-cinza: #666;
--hamburger: #000000;
--icons-bg:#f7f7f7;
--icons-bg:#f7f7f7;
--icons-service: #f05900;
--preto: #000000;
--font-titulos: #f05900;
--shop-background: #fcfcfc;
}
