#cabecalho{
      align-items: center;
      background-color: var(--branco);
      box-sizing: border-box;
      display: flex;
      height: 50px;
      justify-content: space-between;  
      padding: 1rem;
}

