#contato{
  text-align: center;
  margin-bottom: 3rem;

}
.contato__telefone{
  margin-bottom: 2.5rem;
}
.contato__titulo{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.contato__texto,
.contato__texto--numero{
  line-height: 1.8rem;
  font-size: .875rem;
}
.contato__texto--numero{ /* temporario tag b não ta pegando */
  font-weight:bold;
}

.contato__email{
  margin-top: .5rem;
}

.contato__texto--endereco{
  line-height: 1.3rem;
  font-size: .875rem;
  
}
.contato__mapa{
  display: none;
}

@media (min-width: 768px){
  
  .contato__conteudo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2rem;  
  }

  .contato__telefone{
    margin-bottom: none;
  }
  .contato__email{
    margin-top: none;
  }
  
  .contato__telefone,
  .contato__texto--numero{
    text-align: left;
    line-height: 1rem;
  }
  .contato__endereco{
    text-align: left;
    
  }
  .contato__mapa{
    display: inline;
    width: 100%;;
    text-align: right;
    margin-top: -300px;
  }

}