

#menu__btn{
  display: none;
  }

.menu__list{
  display: flex;
  gap: 0.5rem;
}
/*comentes*/
.menu__item{
  font-size: 1rem;
  padding: .5rem
}

.menu__item--img{
  float:left; 
  position: relative; left: 100px; top: 5px;
  width: 20px;
}

.menu__link{
  display: block;
  
}
.menu__list a:nth-child(2){
  color: red;
  padding: .5rem 0;
  
}



/* mobile */
@media screen and (max-width: 767px) { 

  
  #menu__btn{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  #menu__btn--hamburger{
    border-top: 2px solid;
    width: 20px;
    
  }

  #menu__btn--hamburger::after, #menu__btn--hamburger::before{
    background:currentColor; /*variavel que tem o valor que tem detro do pai */
    content: '';
    display: block;
    height: 2px;
    transition: .3s;
    position: relative;/* para o span ficar relativo */
    margin-top: 6px;
    width: 20px;
  }
  #menu.active #menu__btn--hamburger{
    border-top-color: transparent;
  }

  #menu.active #menu__btn--hamburger::before{ /* fala com o span do before o traço */
    transform: rotate(135deg);
  }

  #menu.active #menu__btn--hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  .menu__list{ /* menu dele*/ /*menu meu nav dele*/
    background-color: var(--branco);
    display: block; /*para ficar um embaixo do outro*/
    height: 0; /* para fazer uma transição de 0 a 100vh -70px */
    overflow-y: hidden; /* esconde no y altura escondido quando o elemnto não tem o tamanho total  */
    position: absolute; /* fica por cima do site */
    right: 0;
    text-align: center;
    transition: .6s;
    top: 70px;
    visibility: hidden;/* inicia invisivel  e no ativo virsa visible*/
    width: 100%;
    z-index: 1000; /* os elementos do site ficam abaixo dele */
  }

  #menu.active .menu__list{
    height: calc(100vh - 70px); /* 100% da altura da tela - 70px  do top*/
    visibility: visible; /*overflow-y: auto; /* cria uma barra de rolagem para quado o que ficar escondido for muito longo */
  }

  .menu__list a{
    padding: .5rem 0;
    margin: 0 .5rem;
    border-bottom: 2px solid rgba(0, 0, 0 ,.05);
    box-shadow: 0px .5px 0px rgb(240, 240, 240);
    
  }
}


/*   tablet   */

@media (min-width: 768px) and (max-width: 1023px){
  
  .menu__item--img{
    float:left; 
    position: relative; left: 280px; top: 5px;
    width: 20px;
  }
  .menu__list a:nth-child(2){
    color: red;
    padding: .5rem 0;
    
  }

  #menu__btn{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  #menu__btn--hamburger{
    border-top: 2px solid;
    width: 20px;
    
  }

  #menu__btn--hamburger::after, #menu__btn--hamburger::before{
    background:currentColor; /*variavel que tem o valor que tem detro do pai */
    content: '';
    display: block;
    height: 2px;
    transition: .3s;
    position: relative;/* para o span ficar relativo */
    margin-top: 6px;
    width: 20px;
  }
  #menu.active #menu__btn--hamburger{
    border-top-color: transparent;
  }

  #menu.active #menu__btn--hamburger::before{ /* fala com o span do before o traço */
    transform: rotate(135deg);
  }

  #menu.active #menu__btn--hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  .menu__list{ /* menu dele*/ /*menu meu nav dele*/
    background-color: var(--branco);
    display: block; /*para ficar um embaixo do outro*/
    height: 0; /* para fazer uma transição de 0 a 100vh -70px */
    overflow-y: hidden; /* esconde no y altura escondido quando o elemnto não tem o tamanho total  */
    position: absolute; /* fica por cima do site */
    right: 0;
    text-align: center;
    transition: .6s;
    top: 70px;
    visibility: hidden;/* inicia invisivel  e no ativo virsa visible*/
    width: 100%;
    z-index: 1000; /* os elementos do site ficam abaixo dele */
  }

  #menu.active .menu__list{
    height: calc(100vh - 70px); /* 100% da altura da tela - 70px  do top*/
    visibility: visible; /*overflow-y: auto; /* cria uma barra de rolagem para quado o que ficar escondido for muito longo */
  }

  .menu__list a{
    padding: .5rem 0;
    margin: 0 .5rem;
    border-bottom: 2px solid rgba(0, 0, 0 ,.05);
    box-shadow: 0px .5px 0px rgb(240, 240, 240);
    
  }
}

@media (min-width: 1024px){

    /*comentes*/
    .menu__item{
      font-size: 1rem;
      padding: .2rem;
      margin-left: 20px;
    }
    .menu__item:hover{
      color: var(--font-titulos);
    }

    .menu__item--emergencia{
      margin-top: -8px;
    }


    .menu__item--img{
      display: none;
      width: 20px;
      position: relative; left: -20px; top: 15px;
    }


    .menu__list a:nth-child(2){
      color: red;
      padding: .5rem 0;
      
      
    }
    .menu__list a:nth-child(2):hover{
      
      color: transparent;
      border-radius: 10px;
      border: 1px solid rgb(252, 170, 170);
      background-image: url(/assets/icons/telefone.png);
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      padding: .5rem;
      transition:  all .5s ;

    }
  }