#rodape{
  background-color: var(--bg-rodape);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: .5rem;
}

/* navação */
.rodape__nav{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.rodape__nav--lista{
  display: flex;
  justify-content:center;
  align-items:  center;
  gap: 0.5rem;

}
.rodape__nav--item{
  border: none;
  background-color: var(--shop-background);
  box-shadow: 3px 2px 4px rgb(218, 217, 217);
  border-radius: 5px;
  font-size: .875rem;
  color: #c9c9c9;
  padding: .875rem;
  width: 20%;
}


.rodape__midia{
 margin-bottom: .5rem;
}

.rodape__midia--lista li{
  display: inline-block;
}
.rodape__midia--link img{
  width: 40px;
}

.rodape__logo{ /* temporario */
  margin-bottom: 1rem;
}

.rodape__logo img{
  width:80px;
 
}
.rodape__logo p{
  font-size: .8rem;
  
}

.rodape__pagamento--lista{
  margin-top: .5rem;
}

.rodape_pagamento li {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1.5rem;
 
}


.rodape_pagamento p{
  font-size: .875rem;
  color: #8f8f8f;
}

.rodape__pagamento--link img{
  width: 35px;

}
.rodape__pagamento--lista li:nth-child(1){
 position: relative; bottom: 8px;
}
.rodape__pagamento--lista li:nth-child(2){
  position: relative; bottom: 12px; 
 }

 @media (min-width: 768px){
  #rodape{
    background-color: var(--bg-rodape);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: .5rem;
  }

  
  .rodape__nav--lista{
    align-items:  center;
    display: flex;
    gap: 0.5rem;
    justify-content:center;
    flex-direction: column;

  }

  .rodape__nav--item{
    border: none;
    background-color: var(--shop-background);
    box-shadow: 3px 2px 4px #dad9d9;
    border-radius: 5px;
    font-size: .875rem;
    color: #c9c9c9;
    padding: .875rem;
    width: 100%;
    
  }
  
  
  .rodape__midia--lista{
    position: relative;
    top: 40%;
  }
  .rodape__logo{
    align-self:  center;
  }
  .rodape__pagamento--lista, p{
    position: relative;
    top: 25%;
  }
}
