#shop{
  background-color: var(--shop-background);
  margin-bottom: 3rem;
}

.shop__titulo{
  padding: 1rem 0;
}

.card{
  box-shadow: 0px 5px 20px -13px rgba(64,64,64,0.48); 
  background-color: var(--branco);
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.card__titulo{
  color: var(--subtitulos);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0;
  
}

.card__lista{
  display: flex;
  font: 2rem;
  gap: .5rem;
  justify-content: space-around;
}
.card__item{
  font-size: .875rem;
  
}