#shop{
  background-color: var(--shop-background);
  margin-bottom: 3rem;
  padding: 3rem 0;
  
}

.shop__titulo{
  padding: 1rem 0;
}

.card{
  box-shadow: 0px 5px 20px -13px rgba(64,64,64,0.48); 
  background-color: var(--branco);
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.card__titulo{
  color: var(--font-titulos);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0;
  
}

.card__lista{
  display: flex;
  font: 2rem;
  gap: .5rem;
  justify-content: space-between;
}
.card__item{
  font-size: .875rem;
  
}

/*  tablet  */
@media (min-width: 768px){

  #shop{
    background: var(--shop-background);
    margin-bottom: 2rem;
  }
  .card__conteudo{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 2rem;
    padding-bottom: 2rem;
  }
  .card{
    width: 50%;
    border-radius: 10px;
  }
  
  .card__lista{
    display: block;
    font: 2rem;
    
  }
  .card__titulo{
    text-align: center;
  }
  .card__item{
    text-align: center;
    line-height: 2rem;
    
  }
}

@media (min-width: 1024px){
  .card__conteudo{
    display: flex;
    flex-wrap: nowrap;
    gap: 7rem;
    justify-content: center;
    margin: 0 2rem;
    padding-bottom: 2rem;
  }

  .card{
    box-shadow: 0px 5px 20px -13px rgba(64,64,64,0.48); 
    background-color: var(--branco);
    margin-bottom: 1rem;
    padding: 0 0 3rem 0;
    width: 350px;
    height: 350px;
  }

  .card__lista{
    
    margin: 5px;
    font: 2rem;
    text-align: left;
  }

  .card__titulo{
    text-align: left;
    margin-bottom: .5rem;
    margin-left: 1rem;
  }
  .card__item{
    display:inline-block;
    margin-left: 1rem;
  }
  .card__racao--bg{
    background-image: url(../image/racao.jpg);
    background-size: cover;
    background-position-y: -180px;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
    margin-bottom: 1.5rem;
  }
  .card__acessorios--bg{
    background-image: url(../image/acessorios.jpg);
    background-size: cover;
    background-position-y: -110px;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
    margin-bottom: 1.5rem;
  }
  .card__higiene--bg{
    background-image: url(../image/higiene.jpg);
    background-size: cover;
    background-position-y: -150px;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
    margin-bottom: 1.5rem;
  }
}